<div class="container">
    <div class="sections">
        <span class="words">Id:</span>
        {{id}}
    </div>
    <div class="sections">
        <span class="words">Firstname:</span>
        {{firstname}}
    </div>
    <div class="sections">
        <span class="words">Lastname:</span>
        {{lastname}}
    </div>
    <div class="sections">
        <span class="words">Email:</span>
        {{email}}
    </div>
    <div class="sections">
        <span class="words">Avatar:</span>
        <img src="{{avatar}}">
</div>





