ul{
    background-color:lavenderblush ;
    padding:25px;

    li{
        
        margin: 20px;
        font-size: 20px;
        padding:10px;
        display: inline;
        cursor: pointer;
        font-family: cursive;
    }
}